* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero {
  height: 100vh;
  width: 100%;
  background: #edf2fc;
  position: relative;
}
nav {
  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 150px;
  cursor: pointer;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 10px;
}
nav ul li a:hover {
  color: #c52133;
}
.info {
  margin-left: 10%;
  margin-top: 10%;
}
.info h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 10px;
}
span {
  color: #c52133;
}
.info p {
  color: #606163;
  line-height: 1.5;
  width: 500px;
}
.info a {
  text-decoration: none;
  padding: 12px 40px;
  border-radius: 30px;
  background-color: #c52133;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  margin-top: 35px;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}
.info i {
  margin-right: 10px;
}
.info a:hover {
  background-color: #7e0a18;
  transform: scale(0.9);
}
.img-box {
  width: 45%;
  height: 75%;
  position: absolute;
  bottom: 6%;
  right: 60px;
  cursor: pointer;
}
.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.img-box:hover .back-img {
  bottom: 20px;
}
.img-box:hover .main-img {
  left: 55%;
}
.social-links {
  margin-left: 10%;
  margin-top: 80px;
  cursor: pointer;
}
.social-links a {
  font-size: 28px;
  color: #c52133;
  margin: 2px;
}
.social-links a:hover {
  color: #7e0a18;
}
